table,
td {
  border: 1px solid white;
}

td {
  padding: 0.2rem;
}

.rotate td:not(:first-of-type) {
  transform: rotate(180deg);
  text-wrap: nowrap;
  text-align: center;
  writing-mode: vertical-lr;
}

.text-align-center {
  text-align: center;
  text-wrap: nowrap;
}

.text-align-center input {
  width: 2rem;
  margin: auto;
  text-align: center;
}

.binString {
  width: 21rem;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: none;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  font-family: sans-serif;
}
